svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: textAnimation 8s ease-in-out 1 forwards;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 50;
    }

    80% {
        fill: transparent;
    }

    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}