@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;  
  cursor: url('./assets/cursor.svg') 10 10, default;
  background-color: black;
}
body button{
   cursor: url('./assets/left-click.svg') 10 10 pointer;
}
#tel{
  font-family: "Ponnala", system-ui;
  font-weight: 400;
  font-style: normal;
}

#cloud {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 10px;
  content: '';
  opacity: 1;
  position: fixed;
  top: 50px;
  left: 175px;
  color: #fff;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
    50% {
        top: 60px;
    }    
    100% { 
        top: 50px;
    }
}